<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Robot</title>
  </head>
  <body>
    <h2>Welcome to Business Bots</h2>
    <h5>Please Fill Out the Form Below to Join Our Network</h5>
    <form class="add-robot" action="/create/user" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" value=""><br><br>
        <label for="name">Name: </label>
        <input type="text" name="name" value=""><br><br>
        <label for="password">Password: </label>
        <input type="text" name="password" value=""><br><br>
        <label for="email">Email: </label>
        <input type="text" name="email" value=""><br><br>
        <label for="university">University: </label>
        <input type="text" name="university" value=""><br><br>
        <label for="job">Job: </label>
        <input type="text" name="job" value=""><br><br>
        <label for="company">Company: </label>
        <input type="text" name="company" value=""><br><br>
        <label for="skills">Skills: </label>
        <input type="text" name="skills" value=""><br><br>
        <label for="phone">Phone: </label>
        <input type="text" name="phone" value=""><br><br>
        <label for="address">Address: </label>
        <input type="text" name="address" value=""><br><br>
        <button type="submit" name="submit">Add a Robot</button>
      </form>
  </body>
</html>
