<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mongo Dir</title>
    <link rel="stylesheet" href="/index.css">

  </head>
  <body>
    <h1>I Mustache You to Check out My Directory</h1>
    <div class="filters">
      <a href="/employed"><button type="button" name="button">Check Out Robots with Jobs</button></a>
      <a href="/unemployed"><button type="button" name="button">Check Out Robots Available for Hire</button></a>
    </div>
    <section class="results">

    {{#users}}
    <a href="/profile/{{username}}" class="result">
      <img src="{{avatar}}" alt="profile">
      <p class="name">{{name}}</p>
      {{#job}}
      <p class="info">{{job}} {{company}}</p>
      {{/job}}
      {{^job}}
        <p class="unemployed">Available for Hire</p>
      {{/job}}
    </a>
    {{/users}}
  </section>

  </body>
</html>
