<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h2>Please Login to edit Your Post</h2>
    <form class="" action="/login" method="post">
      <label for="username">Username: </label>
      <!-- value is preset as first index for ease of testing / grading  -->
      <input type="text" name="username" value="hjuza0">
      <label for="username">Password: </label>
      <input type="password" name="password" value="">
      <button type="submit" name="login">Login</button>
    </form>
  </body>
</html>
