h1 {
  text-align: center;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result {
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
  flex-basis: 18%;
  text-align: center;
}

.result p {
  text-align: left;
}

.name {
  color: #2541B2;
  font-size: 20px;
}

.info {
  color: gray;
}

.unemployed {
  color: red;
}

.profile .unemployed, .job-info {
  display: inline;
}

.profile {
  /*background-color: green;*/
  width: 75%;
  border: 1px solid gray;
}

.profile img {
  float: left;
  margin: 30px;
  border: 1px solid black;
  border-radius: 100%;
}

.profile span {
  font-weight: bold;
  margin-right: 30px;
}

a {
  text-decoration: none;
}
